<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Edit donut</ion-title>
    <ion-icon name="close-outline" slot="end" (click)="dismiss()" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input label="Donut name" label-placement="floating" fill="solid" [(ngModel)]="donut.name" required></ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-input label="Image URL" label-placement="floating" fill="solid" type="string" [(ngModel)]="donut.imgUrl" required></ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-input label="Price" label-placement="floating" fill="solid" type="string" [(ngModel)]="donut.price" required></ion-input>
    </ion-item>
    <br>

   
    <ion-button expand="block" color="secondary" (click)="editedDonut()">Edit donut</ion-button>
  </ion-list>
</ion-content>
